template(name="swimlane")
  .swimlane
    +swimlaneHeader
  .swimlane.js-lists.js-swimlane
    if isMiniScreen

      //- if isFiltering

      //- if currentListIsInThisSwimlane _id

      each lists
        +list(list)

      unless currentList
        each lists
          +miniList(this)
        if currentUser.isBoardMember
          +addListForm


    else
      each lists
        +list(this)
        if currentCardIsInThisList _id ../_id
          +cardDetails(currentCard)
      if currentUser.isBoardMember
        +addListForm

template(name="listsGroup")
  if isMiniScreen
    if (currentList)
      .swimlane.list-group.js-lists()
        +list(currentList)
    else if $eq 'normal' squashMode.get
      .swimlane.list-group.js-lists()
        each lists
          +miniList(this)
        if currentUser.isBoardMember
          +addListForm

    else
      .swimlane.list-group.js-lists.squash()
        if $eq 'todo' squashMode.get
          each todoListsOnly lists
            +list(this)
        if $eq 'all' squashMode.get
          each lists
            +list(this)

  else
    .swimlane.list-group.js-lists()
      each lists
        +list(this)
        if currentCardIsInThisList _id null
          +cardDetails(currentCard)
      if currentUser.isBoardMember
        +addListForm

template(name="addListForm")
  .list.list-composer.js-list-composer
    .list-header-add
      +inlinedForm(autoclose=false)
        input.list-name-input.full-line(type="text" placeholder="{{_ 'add-list'}}"
          autocomplete="off" autofocus)
        .edit-controls.clearfix
          button.primary.confirm(type="submit") {{_ 'save'}}
          unless currentBoard.isTemplatesBoard
            unless currentBoard.isTemplateBoard
              span.quiet
                | {{_ 'or'}}
                a.js-list-template {{_ 'template'}}
      else
        a.open-list-composer.js-open-inlined-form
          i.fa.fa-plus
          | {{_ 'add-list'}}
